<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-229647930-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-229647930-1');
</script>
	
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Weather Data in Excel</title>
	<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='lost.css')}}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"
</head>

<body>
	<main>
		
</center>
</main>
	<!-- Footer -->
<footer class="fixed_footer">
  <div class="content">
    <center>
    <p>Sparsh Shrestha - BTA 1016 Assignment 5</p>
    </center>
  </div>
</footer>
	
</body>

</html>
